<div fxLayout="column wrap" class="bank-padding-5px bank-full-width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="bank-padding-5px" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><span class="bank-no-margin">
                <span class="material-symbols-outlined pointer" (click)="goBack()">
                arrow_back
            </span></span>
        <p>
          eWallet</p>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <div>
        <span class="material-symbols-outlined pointer" (click)="goBack()">
                close
            </span>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <p>
      <strong>From</strong>
    </p>
  </div><mat-card class="bank-padding-10px bank-border-box bank-full-width bank-border-radius-10px">
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="Web/Images/card.png" class="bank-image"></div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            <p class="bank-no-margin">Easy Zero</p>
            <p class="bank-no-margin"><strong>{{page.loggedInUser.balance}}</strong></p>
            <p class="bank-no-margin"><small>Available</small></p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <p>
      <strong>To</strong>
    </p>
  </div><mat-card class="bank-padding-10px bank-border-box bank-full-width bank-border-radius-10px">
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
          <div class="bank-flex bank-center-center bank-image2">
            <span class="material-symbols-outlined">
                boy
            </span>
          </div>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            <p class="bank-no-margin">Send Money</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <form [formGroup]="page.ewalletForm">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="bank-full-width" fxLayoutAlign="start stretch" [fxShow]="true">
        <p>
          Amount:</p>
        <div class="bank-full-width">
          <input type="number" formControlName="amount" class="bank-padding-10px bank-border-box bank-no-margin bank-input bank-border-radius-10px">
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="bank-full-width" fxLayoutAlign="start stretch" [fxShow]="true">
        <p>
          Cellphone Number</p>
        <div class="bank-full-width">
          <input type="number" formControlName="cellNumber" class="bank-padding-10px bank-border-box bank-no-margin bank-input bank-border-radius-10px">
        </div>
      </div>
    </div>
  </form>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button class="bank-top-110px bank-purchase bank-relative" (click)="send()">Send</button></div>
</div>