<div fxLayout="column wrap" class="add-profile-pic-ff-roboto landing-full-width change-psw" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="row wrap" class="message-a-center landing-full-width message-top" fxLayoutAlign="start center" [fxShow]="true">
    <div fxLayout="row wrap" class="landing-full-height message-action-tab" fxLayoutAlign="center center" [fxShow]="true" (click)="goBack()"><span>
                <span class="material-symbols-outlined ">
                arrow_back
            </span></span></div><label class="message-fz-21 message-margin-left-1em">
      Change Password</label><span class="message-flex-1">
                </span>
    <div fxLayout="row wrap" class="landing-full-height message-action-tab" fxLayoutAlign="center center" [fxShow]="true"><span>
                <span class="material-symbols-outlined">
                close
                </span></span></div>
  </div>
  <div fxLayout="column wrap" class="change-psw-bottom" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="landing-full-width change-psw-row1" fxLayoutAlign="start stretch" [fxShow]="true"><label style="font-size: 17px" class="landing-fw-500 my-profile-green-text">
        PLEASE ENTER A NEW PASSWORD</label><label style="font-size: 17px" class="message-margin-top-6px">
        You are <b>required</b> to <b>enter a new Password</b>.
        Make sure this banking password is completely unique and not used for any of your other apps, email or website logins.</label></div>
    <form [formGroup]="page.changepasswordForm" class="change-psw-row2 landing-full-width">
      <div fxLayout="column wrap" style="width: 100%; height: 100%" fxLayoutAlign="start stretch" [fxShow]="true"><label class="message-margin-top-6px message-fz-18">
          Old:</label>
        <div style="height: 15%" class="bank-margin-bottom-10px">
          <input required [pattern]="page.passwordPattern" formControlName="old" type="password" style="width: 98%; height:100% ; border: 2px solid gray;
    border-radius: 20px; font-size: 20px; padding-left: 10px;">
        </div><label *ngIf="(page.changepasswordForm.controls.old?.touched) &amp;&amp; (page.changepasswordForm.controls.old?.errors?.required)" style="color: red; ">
          Old password is required</label><label class="message-fz-18">
          New:</label>
        <div style="height: 15%" class="bank-margin-bottom-10px">
          <input [pattern]="page.passwordPattern" required formControlName="password" type="password" style="width: 98%; height:100% ; border: 2px solid gray;
    border-radius: 20px; font-size: 20px; padding-left: 10px;">
        </div><label *ngIf="(page.changepasswordForm.controls.password?.touched) &amp;&amp; (page.changepasswordForm.controls.password?.errors?.required)" style="color: red; ">
          New password is required</label>
        <div *ngIf="(page.changepasswordForm.controls.password?.touched) &amp;&amp; (page.changepasswordForm.controls.password?.errors?.pattern)" style="color: red">
          Please provide a valid password</div><label class="message-fz-18">
          Confirm:</label>
        <div style="height: 15%" class="bank-margin-bottom-10px">
          <input [pattern]="page.passwordPattern" required formControlName="confirmPassword" type="password" style="width: 98%; height:100% ; border: 2px solid gray;
    border-radius: 20px; font-size: 20px; padding-left: 10px;">
        </div><label *ngIf="(page.changepasswordForm.controls.confirmPassword?.touched) &amp;&amp; (page.changepasswordForm.controls.confirmPassword?.errors?.required)" style="color: red; ">
          Confirm password is required</label>
        <div *ngIf="(page.changepasswordForm.controls.confirmPassword?.touched) &amp;&amp; (page.changepasswordForm.controls.confirmPassword?.errors?.pattern)" style="color: red">
          Please provide a valid password</div>
      </div>
    </form>
    <div fxLayout="column wrap" style="margin-top:12px" class="landing-full-width change-psw-row3" fxLayoutAlign="start stretch" [fxShow]="true"><label>
        Your password must be between 7 and 30 characters long.</label><label>
        Your <b>Password must contain</b> at least 3 of the following character types:
        <ul>
          <li>Lower case (a - z)</li>
          <li>Upper case (A - Z)</li>
          <li>Numbers (0 - 9)</li>
          <li>Special characters (!@#$%&amp;...)</li>
        </ul>
      </label><label>
        <b>Passwords</b> may not be the same as your username.</label><button mat-button class="change-psw-row2-button" (click)="changePassword(page.changepasswordForm)">Change</button></div>
  </div>
</div>