<div fxLayout="column wrap" class="add-profile-pic-ff-roboto bank-full-width" fxLayoutAlign="start center" [fxShow]="true">
  <div *ngIf="page.showSpinner" class="mat-spinner absolute">
    <mat-spinner></mat-spinner>
  </div>
  <form [formGroup]="page.depositForm" class="login-middle">
    <div fxLayout="column wrap" class="bank-full-width" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="Web/Images/fnb-logo2.webp" style="width: 42%; height: 15%;"><label class="limits-fz-16 my-profile-margin-top-1em my-profile-green-text">
        <b>Please enter the amount you would like to deposit into your account</b></label>
      <div class="bank-margin-top-10px bank-full-width">
        Amount:</div>
      <mat-form-field style="  " class="bank-full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput [(ngModel)]="page.quote" placeholder="eg : R10 000" [required]="true" formControlName="depositAmount" (keydown)="allowNumbers($event)">
        <mat-error align="start" *ngIf="(page.depositForm.controls.depositAmount?.touched) &amp;&amp; (page.depositForm.controls.depositAmount?.errors?.required)">Deposit amount is <b>required</b></mat-error>
      </mat-form-field><button mat-raised-button style="margin-top: 1em" class="login-green-bg bank-full-width login-btn message-fz-18" (click)="deposit()" [disabled]="page.depositForm.invalid">Deposit</button>
    </div>
  </form>
</div>