<mat-toolbar class="footer-mat-toolbar landing-full-width landing-full-height">
  <div fxLayout="row wrap" class="landing-full-width landing-full-height" fxLayoutAlign="space-between end" [fxShow]="true">
    <div fxLayout="column wrap" style="height: 80%" class="landing-full-height footer-menu-tab" fxLayoutAlign="center center" [fxShow]="true" [routerLink]="[&apos;/home&apos;]">
      <div fxLayout="row wrap" class="footer-icon" fxLayoutAlign="center center" [fxShow]="true"><span>
                <span class="material-symbols-outlined footer-tab-icon">
                    home
                    </span></span></div>
      <div fxLayout="row wrap" class="footer-label" fxLayoutAlign="center center" [fxShow]="true">
        <h6 class="limits-fz-16 footer-text-center">
          Home</h6>
      </div>
    </div>
    <div fxLayout="column wrap" style=" height: 80%" class="footer-menu-tab" fxLayoutAlign="center center" [fxShow]="true" [routerLink]="[&apos;/bank&apos;]">
      <div fxLayout="row wrap" class="footer-icon" fxLayoutAlign="center center" [fxShow]="true"><span>
                <span class="material-symbols-outlined footer-tab-icon">
                    credit_card
                    </span></span></div>
      <div fxLayout="row wrap" class="footer-label" fxLayoutAlign="center center" [fxShow]="true">
        <h6 class="limits-fz-16 footer-text-center">
          Bank</h6>
      </div>
    </div>
    <div fxLayout="column wrap" style="height: 80%" class="footer-menu-tab" fxLayoutAlign="center center" [fxShow]="true" [routerLink]="[&apos;/coming-soon&apos;]">
      <div fxLayout="row wrap" class="footer-icon" fxLayoutAlign="center center" [fxShow]="true"><span>
                <span class="material-symbols-outlined footer-tab-icon">
                    mode_comment
                    </span></span></div>
      <div fxLayout="row wrap" class="footer-label" fxLayoutAlign="center center" [fxShow]="true">
        <h6 class="limits-fz-16 footer-text-center">
          Message</h6>
      </div>
    </div>
    <div fxLayout="column wrap" style="height: 80%" class="footer-menu-tab" fxLayoutAlign="center center" [fxShow]="true" [routerLink]="[&apos;/profile&apos;]">
      <div fxLayout="row wrap" class="footer-icon" fxLayoutAlign="center center" [fxShow]="true"><span>
                <span class="material-symbols-outlined footer-tab-icon">
                    account_circle
                    </span></span></div>
      <div fxLayout="row wrap" class="footer-label" fxLayoutAlign="center center" [fxShow]="true">
        <h6 class="limits-fz-16 footer-text-center">
          Profile</h6>
      </div>
    </div>
    <div fxLayout="column wrap" style="height: 80%" class="footer-menu-tab" fxLayoutAlign="center center" [fxShow]="true" (click)="openTheDialog()">
      <div fxLayout="row wrap" class="footer-icon" fxLayoutAlign="center center" [fxShow]="true"><span>
                <span class="material-symbols-outlined footer-tab-icon">
                    menu
                    </span></span></div>
      <div fxLayout="row wrap" class="footer-label" fxLayoutAlign="center center" [fxShow]="true">
        <h6 class="footer-text-center">
          Menu</h6>
      </div>
    </div>
  </div>
</mat-toolbar>