<div fxLayout="column wrap" class="footer-mat-toolbar" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="menu-tab" fxLayoutAlign="center center" [fxShow]="true" *ngFor="let tab of page.footerTabs" (click)="routeUser(tab)">
      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="{{tab.image}}" class="img-icon"></div>
      <div fxLayout="row wrap" class="footer-label" fxLayoutAlign="center center" [fxShow]="true">
        <h6 class="f-size-18px f-weight-400">
          {{tab.label}}
        </h6>
      </div>
    </div>
    <div fxLayout="column wrap" class="menu-tab" fxLayoutAlign="center center" [fxShow]="true" (click)="openTheDialog()">
      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="Web/Image Icons/menu.png" class="img-icon"></div>
      <div fxLayout="row wrap" class="footer-label" fxLayoutAlign="center center" [fxShow]="true">
        <h6 class="f-size-18px f-weight-400">
          Menu</h6>
      </div>
    </div>
  </div>
</div>