<div fxLayout="column wrap" class="add-profile-pic-ff-roboto bank-full-width" fxLayoutAlign="start center" [fxShow]="true">
  <div *ngIf="page.showSpinner" class="mat-spinner absolute">
    <mat-spinner></mat-spinner>
  </div>
  <form [formGroup]="page.forgotPasswordForm" class="forgot-psw-middle">
    <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="Web/Images/fnb-logo2.webp" style="width: 42%; height: 25%;"><label class="message-fz-18 my-profile-green-text">
            <b>Enter your email address below to get a verication code</b></label></div>
        <div fxLayout="column wrap" class="bank-full-width" fxLayoutGap=".5em" fxLayoutAlign="start stretch" [fxShow]="true">
          <div class="bank-margin-top-10px bank-full-width">
            Email address</div>
          <div fxLayout="column wrap" class="bank-full-width" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field style="  " class="bank-full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput [required]="true" [pattern]="page.emailPattern" formControlName="email">
              <mat-error align="start" *ngIf="(page.forgotPasswordForm.controls.email?.touched) &amp;&amp; (page.forgotPasswordForm.controls.email?.errors?.pattern)">Please provide a <b>valid email</b></mat-error><mat-error align="start" *ngIf="(page.forgotPasswordForm.controls.email?.touched) &amp;&amp; (page.forgotPasswordForm.controls.email?.errors?.required)">Email is <b>required</b></mat-error>
            </mat-form-field>
          </div>
        </div>
      </div><button mat-raised-button class="bank-full-width btn" (click)="submit(page.forgotPasswordForm)">Submit</button>
    </div>
  </form>
</div>