<div fxLayout="column wrap" class="padding-1em full-dvh" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="landing-toolbar" fxLayoutAlign="start start" [fxShow]="true">
    <div fxLayout="row wrap" fxFlex="100%" fxLayoutAlign="space-between stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true"><label class="message-fz-21 bank-no-margin">
          {{page.selectedPage}}</label></div>
      <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true" *ngIf="page.selectedPage !== &apos;FNB&apos;" (click)="__serviceInvoker__.invoke(&apos;sd_O7BgeFkazhosv8N2&apos;, &apos;goBack&apos;)"><mat-icon>arrow_back</mat-icon></div>
      <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true" [routerLink]="[&apos;/qr-code-reader&apos;]" *ngIf="page.selectedPage === &apos;FNB&apos;">
        <div>
          <span class="material-symbols-outlined landing-fz-35">
qr_code
</span>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" class="selected-page" fxLayoutAlign="start stretch" [fxShow]="true">
    <div *ngIf="page.selectedPage !== &apos;FNB&apos;">
      <router-outlet></router-outlet>
    </div><bh-dashboard *ngIf="page.selectedPage === &apos;FNB&apos;"></bh-dashboard>
  </div>
  <div fxLayout="row wrap" class="footer" fxLayoutAlign="start stretch" [fxShow]="true"><bh-footer (selectedPage)="showSelectedPage()"></bh-footer></div>
</div>