<div fxLayout="column wrap" class="relative add-profile-pic-ff-roboto bank-full-width login" fxLayoutAlign="start center" [fxShow]="true" fxFill>
  <div *ngIf="page.showSpinner" class="mat-spinner absolute">
    <mat-spinner></mat-spinner>
  </div>
  <div fxLayout="row wrap" style="    position: fixed;" class="message-a-center landing-full-width message-top" fxLayoutAlign="start center" [fxShow]="true">
    <div fxLayout="row wrap" class="landing-full-height message-action-tab" fxLayoutAlign="center center" [fxShow]="true" (click)="goBack()"><span>
                <span class="material-symbols-outlined ">
                arrow_back
            </span></span></div><label class="message-fz-21 message-margin-left-1em">
      FNB</label><span class="message-flex-1">
                </span>
  </div>
  <form [formGroup]="page.loginForm" class="my-profile-width-90-only login-middle">
    <div fxLayout="column wrap" class="bank-full-width" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="Web/Images/fnb-logo2.webp" style="width: 42%; height: 15%;"><label class="limits-fz-16 my-profile-margin-top-1em my-profile-green-text">
        <b>Please enter your linked email address and your FNB App password to login</b></label></div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutGap=".5em" fxLayoutAlign="start stretch" [fxShow]="true">
          <div class="bank-margin-top-10px bank-full-width">
            Email address</div>
          <div fxLayout="column wrap" class="bank-full-width" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field style="  " class="bank-full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput [required]="true" [pattern]="page.emailPattern" formControlName="email">

            </mat-form-field>
          </div>
        </div><label *ngIf="(page.loginForm.controls.email?.touched) &amp;&amp; (page.loginForm.controls.email?.errors?.required)" style="color: red">
          Email is <b>required</b></label>
        <div *ngIf="(page.loginForm.controls.email?.touched) &amp;&amp; (page.loginForm.controls.email?.errors?.email)" style="color: red">
          <b>Please provide a valid email</b>
        </div>
        <div fxLayout="column wrap" fxLayoutGap=".5em" fxLayoutAlign="start stretch" [fxShow]="true">
          <div class="bank-margin-top-10px bank-full-width">
            Password</div>
          <div fxLayout="row wrap" style="height: 10%; " class="bank-full-width" fxLayoutAlign="center start" [fxShow]="true">
            <mat-form-field class="relative bank-full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput [required]="true" [type]="page.password" formControlName="password">

            </mat-form-field><button mat-button style="height: 80%; width: 20%; background: black; color: white; border-radius: 0 15px 16px 0;" class="absolute" id="btn" (click)="showPassword()">Show</button>
          </div>
        </div>
        <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button class="login-green-bg login-forgot-btn" (click)="login(page.loginForm)">Login</button><button mat-raised-button routerLink="/forgot-password" class="change-psw-row2-button">Forgot password</button></div>
      </div>
    </div>
  </form>
</div>