<div fxLayout="column wrap" class="landing-full-width settings" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="message-a-center landing-full-width message-top" fxLayoutAlign="start center" [fxShow]="true">
    <div fxLayout="row wrap" class="landing-full-height message-action-tab" fxLayoutAlign="center center" [fxShow]="true" (click)="goBack()"><span>
                <span class="material-symbols-outlined ">
                arrow_back
            </span></span></div><label class="message-fz-21 message-margin-left-1em">
      Settings</label><span class="message-flex-1">
                </span>
    <div fxLayout="row wrap" class="landing-full-height message-action-tab" fxLayoutAlign="center center" [fxShow]="true"><span>
                <span class="material-symbols-outlined">
                search
                </span></span></div>
  </div>
  <div fxLayout="row wrap" class="landing-full-width settings-banner" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="Web/Images/setting-banner.PNG" style="width: 100%; height: 100%; border-radius: 0 0 20px 20px;"></div>
  <div fxLayout="column wrap" class="settings-middle" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="row wrap" class="landing-width-90 landing-height-95" fxLayoutGap="0.5em" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="settings-card-tab" fxLayoutAlign="start stretch" [fxShow]="true" [routerLink]="[&apos;/username&apos;]">
        <div fxLayout="row wrap" class="settings-top-icon" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="Web/Images/settings-username.PNG" style="width: 50%; height: 50%;"></div>
        <div fxLayout="row wrap" class="settings-bottom-text" fxLayoutAlign="center center" [fxShow]="true"><label class="message-fz-14 landing-text-center">
            My Username</label></div>
      </div>
      <div fxLayout="column wrap" class="settings-card-tab" fxLayoutAlign="start stretch" [fxShow]="true" [routerLink]="[&apos;/change-password&apos;]">
        <div fxLayout="row wrap" class="settings-top-icon" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="Web/Images/settings-change-psw.PNG" style="width: 50%; height: 50%;"></div>
        <div fxLayout="row wrap" class="settings-bottom-text" fxLayoutAlign="center center" [fxShow]="true"><label class="message-fz-14 landing-text-center">
            Change Password</label></div>
      </div>
      <div fxLayout="column wrap" class="settings-card-tab" fxLayoutAlign="start stretch" [fxShow]="true" [routerLink]="[&apos;/limits&apos;]">
        <div fxLayout="row wrap" class="settings-top-icon" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="Web/Images/setiings-limits.PNG" style="width: 50%; height: 50%;"></div>
        <div fxLayout="row wrap" class="settings-bottom-text" fxLayoutAlign="center center" [fxShow]="true"><label class="message-fz-14 landing-text-center">
            Daily Limitss</label></div>
      </div>
      <div fxLayout="column wrap" class="settings-card-tab" fxLayoutAlign="start stretch" [fxShow]="true" [routerLink]="[&apos;/coming-soon&apos;]">
        <div fxLayout="row wrap" class="settings-top-icon" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="Web/Images/settings-biometrics.PNG" style="width: 50%; height: 50%;"></div>
        <div fxLayout="row wrap" class="settings-bottom-text" fxLayoutAlign="center center" [fxShow]="true"><label class="message-fz-14 landing-text-center">
            Biometric Authentication</label></div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="footer" fxLayoutAlign="start stretch" [fxShow]="true"><bh-footer></bh-footer></div>
</div>