<div fxLayout="column wrap" class="add-profile-pic-ff-roboto landing-full-width" fxLayoutAlign="start center" [fxShow]="true">
  <div *ngIf="page.showSpinner" class="mat-spinner absolute">
    <mat-spinner></mat-spinner>
  </div>
  <form [formGroup]="page.usernameForm">
    <div fxLayout="column wrap" class="bank-full-width" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><label class="message-fz-18 profile-gray-text">
          Change username</label></div>
      <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" class="bank-full-width" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-form-field style="  " class="bank-full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="New username" [required]="true" formControlName="username">
            <mat-error align="start" *ngIf="(page.usernameForm.controls.username?.touched) &amp;&amp; (page.usernameForm.controls.username?.required)">Username is <b>required</b></mat-error>
          </mat-form-field>
        </div>
      </div><label>
        A <b>username </b> is a personal identifier you create for digital banking services. Because it&apos;s <b>unique</b>, we use it as a piece of information to verify it&apos;s you when logging into your account</label><button mat-button class="bank-full-width btn" (click)="submit()" [disabled]="false">Change</button>
    </div>
  </form>
</div>