<div fxLayout="column wrap" class="height-1 bank-padding-5px bank-full-width" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div *ngIf="page.showSpinner" class="spinner-login absolute">
    <mat-spinner></mat-spinner>
  </div>
  <form [formGroup]="page.airtimeForm">
    <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="100%" fxLayoutGap=".2em" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="!page.disabledOldPasswordField"><label class="message-fz-18">
            Cellphone number</label>
          <mat-form-field style="  " class="bank-full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput type="number" [required]="true" formControlName="cell" (keydown)="allowNumbers($event)">
            <mat-error align="start" *ngIf="(page.airtimeForm.controls.cell?.touched) &amp;&amp; (page.airtimeForm.controls.cell?.errors?.required)">Cellphone is <b>required </b></mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="100%" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="!page.disabledOldPasswordField"><label class="message-fz-18">
            Mobile network</label><mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
            <mat-label></mat-label>
            <mat-select formControlName="networkProvider" placeholder="Select" [required]="false">
              <mat-option [value]="&apos;Vodacom&apos;" disabled="false">Vodacom</mat-option><mat-option [value]="&apos;MTN&apos;" disabled="false">MTN</mat-option><mat-option [value]="&apos;Telkom&apos;" disabled="false">Telkom</mat-option><mat-option [value]="&apos;Cell-C&apos;" disabled="false">Cell-C</mat-option>
            </mat-select>
            <mat-error align="start" *ngIf="(page.airtimeForm.controls.networkProvider?.touched) &amp;&amp; (page.airtimeForm.controls.networkProvider?.errors?.required)">Network provider is <b>required </b></mat-error>
          </mat-form-field></div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="100%" fxLayoutGap=".2em" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="!page.disabledOldPasswordField"><label class="message-fz-18">
            Bundle type</label>
          <mat-form-field style="  " class="bank-full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput type="text" [required]="true" formControlName="bundleType" readonly="true">

          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="100%" fxLayoutGap=".2em" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="!page.disabledOldPasswordField"><label class="message-fz-18">
            Amount</label>
          <mat-form-field style="  " class="bank-full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput type="number" [required]="true" formControlName="amount" (keydown)="allowNumbers($event)">
            <mat-error align="start" *ngIf="(page.airtimeForm.controls.amount?.touched) &amp;&amp; (page.airtimeForm.controls.amount?.errors?.required)">Amount is <b>required </b></mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="100%" fxLayoutGap=".2em" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="!page.disabledOldPasswordField"><label class="message-fz-18">
            From Account</label>
          <mat-form-field style="  " class="bank-full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput type="text" [required]="true" formControlName="fromAccount" readonly="true">

          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button class="m-t-1em btn-black" (click)="buy(airtimeForm)">Buy</button></div>
  </form>
</div>